In [ ]:
import numpy as np

import pandas as pd

from pandas import Series, DataFrame

# Series

In [ ]:
obj = Series([4,5,6,6])

In [ ]:
obj
#obj.values
#obj.index

In [ ]:
ww2_cas = Series([1000, 2000, 3000, 800], index=['USSR','Germany','China','Japan'])

ww2_cas

In [ ]:
ww2_cas[ww2_cas > 2000]

In [ ]:
'USSR' in ww2_cas

In [ ]:
ww2_dict = ww2_cas.to_dict()
ww2_dict

In [ ]:
ww2_series = Series(ww2_cas)

ww2_series

In [ ]:
coutries = ['China', 'Japan', 'Germany', 'USSR', 'US']

In [ ]:
obj2 = Series(ww2_dict,index=coutries)
obj2

In [ ]:
pd.isnull(obj2)

In [ ]:
pd.notnull(obj2)

In [ ]:
ww2_series + obj2

In [ ]:
obj2.name = 'ABD'

obj2

In [ ]:
obj2.index.name = 'Countries'

obj2

# Dataframe

In [ ]:
nfl_frame = pd.read_html('https://en.wikipedia.org/wiki/List_of_all-time_NFL_win-loss_records')

In [ ]:
nfl_frame=nfl_frame[1]

In [ ]:
nfl_frame = nfl_frame[:10]

In [ ]:
nfl_frame

In [ ]:
nfl_frame.columns

In [ ]:
nfl_frame['First NFL Season']

In [ ]:
DataFrame(nfl_frame, columns=['Team','First NFL Season','GP'])

In [ ]:
DataFrame(nfl_frame, columns=['Team','First NFL Season','GP','Stadium'])

In [ ]:
nfl_frame.head() # First 5 row of dataframe

In [ ]:
nfl_frame.head(3) # First 3 row of dataframe

In [ ]:
nfl_frame.tail() # Last 5 row of dataframe

In [30]:
nfl_frame.tail(3) # Last 3 row of dataframe

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL Season,Division
7,8,San Francisco 49ers,1034,545,475,14,0.534,1950,NFC West
8,9,New York Giants,1337,696,608,33,0.533,1925,NFC East
9,10,Denver Broncos,916,483,423,10,0.533,1960,AFC West

In [ ]:
# Get data by index
nfl_frame.loc[3]

In [32]:
# Set vale for entire column
nfl_frame['Stadium'] = "Levi's stadium "

In [ ]:
nfl_frame

In [ ]:
nfl_frame['Stadium'] = np.arange(10)
nfl_frame

In [39]:
stadiums = Series(["Levi's stadium","AT&T Stadium"],index=[9,0])
stadiums

9    Levi's stadium
0      AT&T Stadium
dtype: object

In [ ]:
nfl_frame['Stadium'] = stadiums
nfl_frame

In [ ]:
del nfl_frame['Stadium']
nfl_frame

In [43]:
data = {'City':['SF','LA','NYC'], 'Population':[837000,3880000,8400000]}
city_frame = DataFrame(data)
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000